{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="POST" enctype="multipart/form-data">
        {{ user_form.non_field_errors }}
        {{ profile_form.non_field_errors }}
        <div class="form-group">
            {{ user_form.first_name.errors }}
            <label for="id_first_name"> First name</label>
            <div>
                <input type="text" name="first_name" value="{{ user_form.instance.first_name }}" maxlength="100"
                       class="textinput textInput form-control"  id="id_first_name">
            </div>
        </div>
        <div class="form-group">
            {{ user_name.last_name.errors }}
            <label for="id_last_name"> Last name</label>
            <div>
                <input type="text" name="last_name" value="{{ user_form.instance.last_name }}" maxlength="100"
                       class="textinput textInput form-control" id="id_last_name">
            </div>
        </div>
        <div class="form-group">
            {{ user_name.email.errors }}
            <label for="id_email"> Email address</label>
            <div>
                <input type="email" name="email" value="{{ user_form.instance.email }}" maxlength="50"
                       class="textinput textInput form-control" id="id_email">
            </div>
        </div>
        <div>
            {{ profile_form.date_of_birth.errors }}
            <label for="id_date_of_birth"> Date of birth</label>
            <div>
                <input type="date" name="date_of_birth" value="{{ profile_form.instance.date_of_birth|date:'Y-m-d' }}"
                      class="textinput textInput form-control" id="id_date_of_birth">
            </div>
        </div>
        <div>
            {{ profile_form.photo.errors }}
            <label for="id_photo"> Photo</label>
            <div>
                <img width="200" src="{{ profile_form.instance.photo.url }}">
                <input type="file" name="photo" id="id_photo">
            </div>
        </div>
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}