{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Literary blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>

    <div class="page-header">
    <div class="topnav">

    </div>
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
            <a href="{% url 'edit_profile' %}" class="top-menu"> Hello {{ user.username }}</a>

        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
        {% endif %}
        <h1><a class="logo" href="/">ToDo</a></h1>
        <form method="post" action="{% url 'post_list' %}">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Search...">

                <button type="submit" class="glyphicon glyphicon-search"></button>
        </form>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        {{ categories_html }}
        </div>
    </div>
</body>
</html>